@model IEnumerable<AngelinaPrj.Models.Sala>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="text-center m-2">Todas as salas</h2>
    <div class="col-12">
        <div class="row justify-content-center">
            @foreach (var sala in Model)
            {
            <div class="card text-white bg-dark m-3 text-center" style="max-width: 18rem;">
                <div class="card-header">Escola: @sala.Escola</div>
                <div class="card-body">
                    <p class="card-text">Semestre: @sala.Semestre</p>
                    <p class="card-text">Período: @sala.Periodo</p>
                    <p class="card-text">Materia: @sala.Materia</p>
                    @{
                        if (sala.Situacao == true)
                        {
                            <p class="card-text"><span class="badge badge-success">Em andamento</span></p>
                        }
                        else
                        {
                            <span class="badge badge-danger">Sala fechada !</span>
                        }
                    }
                </div>
                @Html.ActionLink("Ver materiais da sala", "DetalhesMateria", "Materia", null , new { @class = "btn btn-primary mx-1 my-1" })
                @Html.ActionLink("Alterar situação", "EditarSala", "Sala", new { SalaId = sala.SalaId}, new { @class = "btn btn-danger mx-1 my-1" })
            </div>
            }
        </div>
        @Html.ActionLink("Nova Sala", "CadastrarSala", "Sala", new {  }, null)
    </div>
</div>
