@model AngelinaPrj.ViewModel.DetalhesEscolaViewModel

@{
    var nomeEscola = Model.Escola.Nome;
    ViewBag.Title = "Cursos " + nomeEscola;
}

<h2>@Model.Escola.Nome</h2>

<div class="col-12">
    <div class="row justify-content-center">

        @foreach (var curso in Model.Cursos)
        {

        <div class="card text-white bg-dark m-3 text-center" style="max-width: 18rem;">
            <div class="card-header">@curso.Nome</div>
            <div class="card-body">
                <p class="card-text">@curso.Descricao</p>
            </div>
            @Html.ActionLink("Editar", "EditarCurso", "Curso", new { CursoId = curso.CursoId , EscolaId = Model.Escola.EscolaId}, new { @class = "btn btn-light mx-1 my-1" })
            @Html.ActionLink("Ver Matérias", "DetalhesCurso", "Curso", new { CursoId = curso.CursoId, EscolaId = Model.Escola.EscolaId }, new { @class = "btn btn-light mx-1 my-1" })
            @Html.ActionLink("Apagar", "Delete", "Curso", new { CursoId = curso.CursoId, EscolaId = Model.Escola.EscolaId }, new { @class = "btn btn-light mx-1 my-1" })
        </div>


        }
    </div>

    <p>
        @Html.ActionLink("Adicionar Curso", "CadastrarCurso", "Curso", new { EscolaId = Model.Escola.EscolaId}, new { @class = "btn btn-outline-primary" })
        @Html.ActionLink("Voltar para lista de escolas", "Index", "Painel", null, new { @class = "btn btn-outline-primary" })
    </p>
</div>
