@model IEnumerable<AngelinaPrj.Models.Escola>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Escola", "CadastrarEscola", "Painel")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarEscola", new { EscolaId = item.EscolaId}) |
            @Html.ActionLink("Details", "DetalhesEscola", new { EscolaId=item.EscolaId }) |
            @Html.ActionLink("Apagar", "Delete", new { EscolaId=item.EscolaId })
        </td>
    </tr>
}

</table>
