@model AngelinaPrj.ViewModel.DetalhesCursoViewModel

@{
    ViewBag.Title = "DetalhesCurso";
}

<div class="container height-80">
    <h2 class="text-center mt-2">Materias de: @Model.Curso.Nome</h2>

    <div class="col-12">
        <div class="row justify-content-center">
            @foreach (var materia in Model.Materias)
            {

                <div class="card text-white bg-dark m-3 text-center" style="max-width: 18rem;">
                    <div class="card-header">@materia.Nome</div>
                    <div class="card-body">
                        <p class="card-text">@materia.Descricao</p>
                    </div>
                    @Html.ActionLink("Ver Salas cursando esta matéria", "DetalhesMateria", "Materia", new { MateriaId = materia.MateriaId, CursoId = materia.CursoId}, new { @class = "btn btn-primary mx-1 my-1" })
                    @Html.ActionLink("Editar", "EditarMateria", "Materia", new { MateriaId = materia.MateriaId, CursoId = Model.Curso.CursoId}, new { @class = "btn btn-light mx-1 my-1" })
                    @Html.ActionLink("Apagar", "", "", null, new { @class = "btn btn-danger mx-1 my-1"})
                </div>
            }

        </div>

        <p class="text-center">
            @Html.ActionLink("Adicionar Materia", "CadastrarMateria", "Materia", new { CursoId = Model.Curso.CursoId}, new { @class = "btn btn-success" })
            @Html.ActionLink("Voltar para a lista de cursos", "DetalhesEscola", "Painel", new { CursoId = Model.Curso.CursoId , EscolaId = Model.Curso.EscolaId }, new { @class= "btn btn-primary" })
        </p>

    </div>
</div>