@model IEnumerable<AngelinaPrj.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<div class="container height-80">
    <h2 class="mt-2">Todos os cursos</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escola.Nome)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Escola.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarCurso", new { CursoId = item.CursoId, EscolaId = item.EscolaId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Detalhes", "DetalhesCurso", new { CursoId = item.CursoId }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Deletar", "Delete", new { CursoId = item.CursoId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
        @Html.ActionLink("Lista de escolas", "Index", "Painel", null, new { @class = "btn btn-primary" })
</div>
